#!/bin/bash
# This file is a template which includes the variables needed to provide secrets to the taphostprep-1.sh script
# DO NOT SAVE ANY SECRETS IN THIS FILE!!!!!!
# Secrets should NEVER be saved unencrypted!
# You can use this file as a template, make a copy and save it as secrets-1.env.sh.age using age to encrypt the file with a complex, unique passphrase


## There are currently no secrets needed by taphostprep-1.sh